<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/zipcode.js}"></script>
    <script th:src="@{/js/Validation.js}"></script>
    <script>
	    $(function(){
	    	
	    	$('input[name=uid]').focusout(function(){
		    	var uid = $(this).val();
		    	var jsonData = {'uid':uid}; // js 객체 생성 (json은 JS문법이므로)
		    	
		    	$.get('/member/checkUid',jsonData, function(data){
		    		if(uid==''){
		    			$('.resultId').css('color','red').text('유효하지 않은 아이디입니다. 아이디를 다시 입력해주세요.');
		    		}else if(data.result == 1) {
		    			$('.resultId').css('color','red').text('이미 사용중인 아이디입니다.');
		    		}else {
		    			$('.resultId').css('color','green').text('사용가능한 아이디입니다.');
		    		}
		    	},'json'); 
		    	
	    	});
	    	$('input[name=pass2]').focusout(function(){
		    	var pass1 = $('input[name=pass1]').val();
		    	var pass2 = $(this).val();
		    	
		    	if(!pass1||!pass2){
		    		$('.resultPass').css('color','red').text('정확한 비밀번호를 입력하여주세요.');
		    	}else if(pass1 == pass2){
		    		$('.resultPass').css('color','green').text('비밀번호가 일치합니다.');
		    	}else{
		    		$('.resultPass').css('color','red').text('비밀번호가 일치하지 않습니다.');
		    	}
	    	});
	    	$('input[name=nick]').focusout(function(){
		    	var nick = $(this).val();
		    	var jsonData = {'nick':nick}; // js 객체 생성 (json은 JS문법이므로)
		    	
		    	$.get('/member/checkNick',jsonData, function(data){
		    		if(nick==''){
		    			$('.resultNick').css('color','red').text('유효하지 않은 닉네임입니다. 닉네임을 다시 입력해주세요.');
		    		}else if(data.result == 1) {
		    			$('.resultNick').css('color','red').text('이미 사용중인 닉네임입니다.');
		    		}else {
		    			$('.resultNick').css('color','green').text('사용가능한 닉네임입니다.');
		    		}
		    	},'json'); 
		    	
	    	});
	    	
	    	$('input[name=email]').focusout(function(){
		    	var email = $(this).val();
		    	var jsonData = {'email':email}; // js 객체 생성 (json은 JS문법이므로)
		    	
		    	$.get('/member/checkEmail',jsonData, function(data){
		    		if(email==''){
		    			$('.resultEmail').css('color','red').text('유효하지 않은 이메일입니다. 이메일을 다시 입력해주세요.');
		    		}else if(data.result == 1) {
		    			$('.resultEmail').css('color','red').text('이미 사용중인 이메일입니다.');
		    		}else {
		    			$('.resultEmail').css('color','green').text('사용가능한 이메일입니다.');
		    		}
		    	},'json'); 
		    	
	    	});
	    	$('input[name=hp]').focusout(function(){
		    	var hp = $(this).val();
		    	var jsonData = {'hp':hp}; // js 객체 생성 (json은 JS문법이므로)
		    	
		    	$.get('/member/checkHp',jsonData, function(data){
		    		if(hp==''){
		    			$('.resultHp').css('color','red').text('유효하지 않은 전화번호입니다. 번호를 다시 입력해주세요.');
		    		}else if(data.result == 1) {
		    			$('.resultHp').css('color','red').text('이미 사용중인 전화번호입니다.');
		    		}else {
		    			$('.resultHp').css('color','green').text('사용가능한 전화번호입니다.');
		    		}
		    	},'json'); 
		    	
	    	});
	    	
	    });
    </script>
    
</head>
<body>
    <div id="wrapper">
    <th:block th:include="/_header.html"></th:block>
        <section id="user" class="register">
            <form th:action="@{/member/register}" method="POST">
                <table border="1">
                    <caption>사이트 이용정보 입력</caption>
                    <tr>
                        <td>아이디</td>
                        <td>
                            <input type="text" name="uid" placeholder="아이디 입력"/>
                            <span class="resultId"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>비밀번호</td>
                        <td>
                            <input type="password" name="pass1" placeholder="비밀번호 입력"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td>비밀번호 확인</td>
                        <td>
                            <input type="password" name="pass2" placeholder="비밀번호 확인 입력"/>
                            <span class="resultPass"></span>
                        </td>
                    </tr>
                </table>
                <table border="1">
                    <caption>개인정보 입력</caption>
                    <tr>
                        <td>이름</td>
                        <td>
                            <input type="text" name="name" placeholder="이름 입력"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td>별명</td>
                        <td>
                            <p>공백없이 한글, 영문, 숫자만 입력가능</p>
                            <input type="text" name="nick" placeholder="별명 입력"/>
                            <span class="resultNick"></span>                            
                        </td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>
                            <input type="email" name="email" placeholder="이메일 입력"/>
                            <span class="resultEmail"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>휴대폰</td>
                        <td>
                            <input type="text" name="hp" placeholder="- 포함 13자리 입력" minlength="13" maxlength="13" />
                            <span class="resultHp"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>주소</td>
                        <td>
                            <div>
                                <input type="text" id="zip" name="zip" placeholder="우편번호" readonly/>
                                <button type="button" class="btnZip" onclick="zipcode()">주소검색</button>
                            </div>
                            <div> <!-- 여기서 id값은 주소값을 셋팅하기위해서 제이쿼리문을 사용하도록 설정하는 값이다. -->
                                <input type="text" id="addr1" name="addr1" placeholder="주소를 검색하세요." readonly/>
                            </div>
                            <div>
                                <input type="text" id="addr2" name="addr2" placeholder="상세주소를 입력하세요."/>
                            </div>
                        </td>
                    </tr>
                </table>

                <div>
                    <a th:href="@{/member/login}" class="btnCancel">취소</a>
                    <input type="submit"   class="btnJoin" value="회원가입"/>
                </div>

            </form>
        </section>
        <th:block th:include="/_footer.html"></th:block>
    </div>    
</body>
</html>