<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
    <th:block th:include="@{/_header.html}"></th:block>
    <th:block th:include="@{/board/_aside__${group}__.html}"></th:block>
        <section id="board" class="list">
            <h3>글목록</h3>
            <article>
                <p>
                   	[[${session.sessMember.nick}]]님 반갑습니다.
                    <a th:href="@{/member/logout}" class="logout">[로그아웃]</a>
                </p>
                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>날짜</th>
                        <th>조회</th>
                    </tr>
                    <tr>
                        <td>[[${article.seq}]]</td>
                        <td><a th:href="@{/board/view(group=${group})}">[[${article.title}]]</a>&nbsp;&#91;3&#93;</td>
                        <td>[[${article.nick}]]</td>
                        <td>[[${article.rdate}]]</td>
                        <td>[[${article.hit}]]</td>
                    </tr>
                </table>
            </article>

            <!-- 페이지 네비게이션 -->
            <div class="paging">
            
                <a th:href="@{#}" class="prev">이전</a>
                
                <a th:href="@{#}" class="num current">1</a>
                
                <a th:href="@{#}" class="next">다음</a>
            </div>

            <!-- 글쓰기 버튼 -->
            <a th:href="@{/board/write(group=${group})}" class="btnWrite">글쓰기</a>

                <!-- 내용 끝 -->

                </article>
            </section>

        <th:block th:include="/_footer.html"></th:block>
    </div>    
</body>
</html>