<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
    <th:block th:include="/_header.html"></th:block>
    <th:block th:include="@{/board/_aside__${group}__.html}"></th:block>
        <section id="board" class="view">
            <h3>글보기</h3>
            <table>
                <tr>
                    <td>제목</td>
                    <td><input type="text" name="title" th:value=${article.title} readonly/></td>
                </tr>
                <tr th:if ="${article.file==1}"> <!-- 파일이 있음:1 이므로 1일때 출력으로 조건 -->
                    <td>첨부파일</td>
                    <td>
                        <a th:href="@{/fileDownload(fseq=${article.fileVo.fseq})}">[[${article.fileVo.oriName}]]</a><br/>
                        <span>[[${article.fileVo.download}]]회 다운로드</span>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea name="content" readonly>[[${article.content}]]</textarea>
                    </td>
                </tr>
            </table>
            <div>
                <a th:href="@{/board/delete(group=${group}, cate=${cate}, seq=${article.seq})}" class="btnDelete">삭제</a>
                <a th:href="@{/board/modify(group=${group}, cate=${cate}, seq=${article.seq})}" class="btnModify">수정</a>
                <a th:href="@{/board/list(group=${group}, cate=${cate})}" class="btnList">목록</a>
            </div>  
            
            <!-- 댓글리스트 -->
            <section class="commentList">
                <h3>댓글목록</h3>
                <article class="comment">
                    <span>
                        <span>닉네임</span>
                        <span>2021-08-09</span>
                    </span>
                    <textarea name="comment" readonly></textarea>
                    <div>
                        <a href="#">삭제</a>
                        <a href="#">수정</a>
                    </div>
                </article>
                <p class="empty">
                    등록된 댓글이 없습니다.
                </p>
            </section>

            <!-- 댓글입력폼 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
                <form th:action="@{/insertComment}" method="post">
                	<input type="hidden" name="parent"/>
                	<input type="hidden" name="uid"/>
                    <textarea name="content"></textarea>
                    <div>
                        <a th:href="@{/board/list}" class="btnCancel">취소</a>
                        <input type="submit" class="btnWrite" value="작성완료"/>
                    </div>
                </form>
            </section>

        </section>
        <th:block th:include="/_footer.html"></th:block>
    </div>    
</body>
</html>